.navbar {
    color: #22af9c;
}

.whole {
    background-image: url("https://www.teahub.io/photos/full/1-19957_high-quality-nice-hd-wallpapers-reta-familia-free.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.loader {
    width: 250px;
    height: 250px;
    background: transparent;
}

.navitems h2 {
    margin-top: 30px;
    font-size: 50px;
    width: 100vw;
    display: inline-flex;
    justify-content: center;
}

.btn {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    margin-bottom: 2rem;
    background-image: linear-gradient(to bottom, #e2b3ee, #ca87f1);
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    background-image: -webkit-linear-gradient(top, #17bde6, #7df8c5);
    text-decoration: none;
    box-shadow: 2px 2px 2px 2px grey;
}

.avatar {
    border-radius: 50%;
}

.userGrid {
    border-radius: 7%;
    background-image: linear-gradient(rgb(141, 245, 210), rgb(25, 194, 166), rgb(8, 94, 79));
    margin: 50px;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
    cursor: pointer;
}

.userGrid p {
    font-weight: 500;
}

.userGrid:hover {
    transform: scale(1.06);
    transition-duration: 0.5;
    box-shadow: 3px 13px 15px rgb(194, 115, 194);
}